body {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url(White\ Christmas.gif);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-left: 15%;
}

.calculator {
    /* border: 1px solid black; */
    border-radius: 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 20vw;
    padding: 1vw;
    background-color: #F3C51A;
    box-shadow: 5px 8px 5px rgb(95, 94, 94);
}

.display {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10px;
}

.result {
    height: 10vh;
    font-size: 1.5rem;
    text-align: right;
    /* display: flex;
    flex-wrap:wrap; */
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f5f5f5;
    overflow-x: scroll;
    box-shadow: 5px 5px 6px rgb(95, 94, 94) 5px 5px 5px;
}
.result::-webkit-scrollbar {
    display: none;
}

.previous {
    height: 20px;
    font-size: 0.8rem;
    text-align: right;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f5f5f5;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

#del,
#ac {
    background-color: #EB7F2C;
}
#del:hover, #ac:hover{
    background-color: #eb6703;
}

#equal {
    background-color: rgb(4, 219, 4);
}
#equal:hover{
    background-color: rgb(1, 114, 1);
}

.btn {
    height: 40px;
    font-size: 1.1rem;
    border-radius: 50px;
    /* border: 3px solid blue; */
    background-color: #f5f5f5;
    cursor: pointer;
    box-shadow: 5px 5px 6px rgb(95, 94, 94);
    border: none;

}

.btn:hover {
    background-color: rgb(226, 221, 221);
}

.baniya{
    height: 5px;
    color: white;
    font-size: 12px;
}